torch==2.9.0
torchaudio==2.9.0
demucs==4.0.0
numpy==2.3.4
pandas==2.3.3
scipy==1.16.2
scikit-learn==1.7.2
matplotlib==3.10.7
librosa==0.10.1
faster-whisper==1.2.0
ctranslate2==4.6.0
onnxruntime==1.23.2
streamlit==1.50.0
jsonschema==4.25.1
typer==0.20.0
pydantic==2.12.3
audio-separator==0.39.1
resemble-enhance==0.0.1
clearvoice==0.1.2
pyannote-audio==4.0.1
